<a href="@Url.Action("Giohang","Giohang")" style="color:white;font-weight: bold;text-decoration: none;">
    <img src="~/images/giohang1.png" width="20%" style="padding:-2px"/> Giỏ Hàng(@ViewBag.Tongsoluong)
</a>
